<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="public/css/style.css" />
  </head>
  <body>
    <canvas id="heartCanvas"></canvas>
    <div class="content">
      <div class="settings-button">
        <img
          src="public/images/icons/settings.svg"
          alt="Settings"
          id="settingsIcon"
        />
        <div class="dropdown-menu" id="dropdownMenu">
          <a href="/profile">Profile</a>
          <a href="/settings">Settings</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
      <h1><%= title %></h1>
      <a href="/new">Add a New Message</a>
      <ul>
        <% messages.forEach(function(message) { %>
        <li>
          <strong style="color: <%= message.color %>">
            <%=`${message.user}:` %>
          </strong>
          <%= message.text %>
          <em>(<%= message.added.toLocaleString() %>)</em>
        </li>
        <% }); %>
      </ul>
    </div>
    <script src="/public/js/particles.js"></script>
    <script src="/public/js/main-script.js"></script>
  </body>
</html>
